.App {
  text-align: center;
  height: 100vh;
  padding-top: 2em;
}

.control {
  width: 300px;
  padding-top: 2em;
  margin-left: 2em;
  display: flex;
}

button.button.is-info {
  margin-left: 0.5em;
}
.movie {
  padding-top: 2em;
}
